[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
alembic = "*"
asn1crypto = "*"
babel = "*"
bcrypt = "*"
blessed = "*"
blinker = "*"
botocore = "*"
cached-property = "*"
cement = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
colorama = "*"
cryptography = "*"
docker = "*"
docker-pycreds = "*"
dockerpty = "*"
docopt = "*"
docutils = "*"
dominate = "*"
elasticsearch = "*"
flask = "*"
flask-babel = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
future = "*"
guess-language-spirit = "*"
idna = "*"
itsdangerous = "*"
jinja2 = "*"
jmespath = "*"
jsonschema = "*"
mako = "*"
markupsafe = "*"
paramiko = "*"
pathspec = "*"
pyasn1 = "*"
pycparser = "*"
pyjwt = "*"
pynacl = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
python-http-client = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
rsa = "*"
s3transfer = "*"
semantic-version = "*"
six = "*"
sqlalchemy = "*"
termcolor = "*"
texttable = "*"
urllib3 = "*"
visitor = "*"
wcwidth = "*"
websocket-client = "*"
werkzeug = "*"
wtforms = "*"

[requires]
python_version = "3.8"
