{% extends "base.html" %}

{% block app_content %}
    <div>
        <h1>{{ _('Education') }}</h1>
        <p>{{ _("The word \"smog\" unknown to anyone appeared in Poland a few years ago. Since then, it has been changed by
            exceptions. And by no means, it is not a reason for joy - although it brings Poland a lot of publicity in
            the world, it is a black press. According to data from the World Health Organization (WHO), 33 out of 50
            cities in the European Union with the highest concentration of PM2.5 dust are in Poland, and according to
            the tragic data of the European Environment Agency, nearly 45,000 people die every year in Poland due to
            pollution (exactly 44,600 in 2015, and this number increased from 42.412 from 2011) After a few years of
            publicity, it seems that we should know everything about smog, but does not our knowledge close in terms of
            this press and information type such as: Warsaw, the most polluted city in the world * or \"Feel the stench
            despite closed windows\" or \"It\'s not fog, but smog\"? These and other press headlines are common especially
            in the so-called heating, that is from October to March, when the \"smog season\" begins and lasts. Let\'s take
            a look - problem - from inside, asking and answering some basic questions: a smog \"? These and other press
            headlines are common especially in the so-called heating, that is from October to March, when the \"smog
            season\" begins and lasts. Let\'s take a look - problem - from inside, asking and answering some basic
            questions:") }}</p>
    </div>
    <div>
        <h2>{{ _("What is Smog?") }}</h2>
        <p>{{ _("Smog is a type of air pollution - the word comes from combining two words: smoke or smoke and fog. It
            is generated, produced by people. It comes from the emission of coal produced while driving a car, the
            functioning of industry, smoke from fires and photochemical reactions of these emissions. Smoke from
            chimneys produced during smoking in heating furnaces in the winter season plays a major role in creating
            smog. Smog consists, among others, of nitrogen oxides, sulfur, coal and aromatic hydrocarbons as well as
            heavy metals. It also consists of microscopic dusts and harmful chemical compounds.") }}</p>
    </div>
    <div>
        <h2>{{ _("How and when does it arise?") }}</h2>
        <p>{{ _("Smog arises on windless days when there is high atmospheric pressure.  Harmful particles do not float
            up and stay close to the Earth's surface, which often looks like for.  Domestic coal furnaces are
            responsible for 53 percent of low emissions in Poland.  This comes from households using heating ovens in
            the winter season.  According to the data of the Main Inspectorate for Environmental Protection, households
            heating with solid fuels, eg coal, are in Poland as much as 48 percent.  The emission of carbon generated
            during the car's driving also has a large impact on the formation of smog.") }}</p>
    </div>
{% endblock %}