{% extends "base.html" %}

{% block app_content %}
<h1>{{ _('O Nas') }}</h1>
<div>
    <p>
        {{ _('Żyjemy w rzeczywistości, w której sytuacja smogowa się pogarsza, a nie są podejmowane żadne środki aby
        temu zaradzić. Uchwalane ustawy i rozporządzenia w efekcie końcowym przyniosą efekty za kilka lat. W tym czasie
        smog negatywnie będzie wpływał na nasz organizm i szkodził naszemu zdrowiu. ') }}
    </p>
    <p>
        {{ _("Oczywiście, wielu z nas posiada wstępną wiedzę jak się przed nim chronić. Używając do tego powszechnie
        znanych narzędzi – jednak tylko niektórzy kupują oczyszczacze powietrza (skutecznych -  cena jest bardzo
        wysoka), inni używają masek antysmogowych (nie każda jest odpowiednio skonstruowana). ") }}
    </p>
    <p>
        {{ _("Niestety, te metody nie są całkowicie skuteczne w zupełnym eliminowaniu negatywnych skutków smogu z
        naszego organizmu, a ponadto dla niektórych z nas z uwagi na cenę nieosiągalne. Sam smog, zbudowany z
        niewidocznych gołym okiem cząsteczek, które przedostają się do każdej komórki naszego ciała przez krwioobieg,
        powodując rażące zniszczenia i wywołując szereg chorób – jest trudny do zupełnego wyeliminowania. ") }}
    </p>
    <p>
        {{ _("Jednak podejmując działania na różnych polach naszego życia – przez odpowiednie oczyszczacze, stosowanie
        masek, podstawowych zasad funkcjonowania podczas wysokiego poziomu smogu (np. unikanie dwóru i zatłoczonych
        tras, regularne sprzątanie mieszkania, otwieranie okien w pogodne dni i wietrzenie mieszkania, etc.), a także
        diety i odpowiednich suplementów – możemy wyeliminować skutki smogu w bardzo wysokim stopniu.") }}
    </p>
    <!--2nd part-->
    <p>
        {{ _("Jesteśmy dwójką młodych ludzi, której jedną z pasji są podróże. Drugą jest pomaganie innym oraz
        wychodzenie naprzeciw przeciwnościom i rzeczywistości, która destrukcyjnie wpływa na nasze życie. ") }}
    </p>
    <p>
        {{ _("Na co dzień mieszkamy w dużych miastach przez co, jak wszystkich Was, dotykają nas tego blaski i cienie.
        Te drugie niewidocznie, acz bardzo doraźnie dopadają szczególnie w sezonie zimowym kiedy w powietrze zaczynają
        buchać dymy z kominów, a w nas wszechobecny SMOG.") }}
    </p>
    <p>
        <span>{{ _("Jako") }}</span> <a href="{{ url_for('main.explore') }}">sfiltrowani.pl</a><span>{{ _(" chcemy pomóc
        Wam wyjść z szarej rzeczywistości i nie traktować smogu jak powietrza. ") }}</span>
    </p>
    <p>
        {{ _("Rok temu min. na warsztatach w szkołach uczniom oraz na naszej stronie pokazywaliśmy jak w 3 krokach
        budować własny oczyszczacz powietrza. To tanie i skuteczne rozwiązanie było alternatywą dla wysokich cen
        profesjonalnych produktów, których działanie i skuteczność były zbliżone do własnej konstrukcji.") }}
    </p>
    <p>
        {{ _("Po przeczytaniu wielu badań i dowodów naukowych, w tym sezonie chcemy Wam przedstawić kolejną metodę
        eliminowania smogu z naszego organizmu. Jak potwierdzają naukowcy, stosowanie odpowiednich suplementów diety i
        produktów bogatych w konkretne witaminy – możemy niwelować skutki smogu z naszego organizmu.") }}
    </p>
    <p>
        {{ _("Na naszym profilu na facebook pojawiła się seria odcinków temu poświęconych.  Zapoznaj się z nimi i zobacz
        jak w prosty sposób walczyć ze smogiem. Nie czekaj dłużej – ten niszczy Ciebie i Twoich najbliższych. ") }}
    </p>
    <p>
        {{ _("Dołącz do nas, bo razem możemy więcej!") }}
    </p>
    <p class="height-div"><br><br><br><br></p>
</div>
{% endblock %}